body {
  background-image: url(https://media.giphy.com/media/RKBZN7hOuq0pAGC46W/giphy.gif);
  background-position: center;
  background-size: cover;
}
#myCanvas {
  border-width: 10px;
  background-image: url(https://static01.nyt.com/images/2011/06/19/arts/CARS2-1/CARS2-1-articleLarge.jpg?quality=75&auto=webp&disable=upscale);
  border-style: ridge;
  background-size: cover;
}
h4 {
  color: white !important;
  font-family: "Sigmar One", cursive;
}
